main{
	width: 900px;
	margin: 0px auto;
	border: 1px solid #7c7c7c;
	padding: 20px 0;
}

.module-section {
	margin-bottom: 20px;
	padding: 20px;
	border-top: 1px solid #7c7c7c;
	border-bottom: 1px solid #7c7c7c;
}

.module-section button{
	padding: 0 10px 0 10px;
}

.module-section .module-icon {
	width: 50px;
	vertical-align: top;
}

.module-section .module-main {
	width: 500px;
}

.label-input-row {
	margin-bottom: 10px;
}

.label-input-row label{
	display: block;
}