<!doctype html>
<html xmlns:ng="http://angularjs.org" id="ng-app" ng-app="cbaApp">

<head>
	<meta charset="UTF-8">
	<title>CBA test harness</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
	<script type="text/javascript" src="https://code.angularjs.org/1.2.21/angular.min.js"></script>
</head>
<body ng-controller="CbaController">
<div class="container">
    <h1 class="text-center">CBA Test Harness</h1>
	<form name="test-harness-form" id="test_harness_form" action="{{url}}" method="post" ng-submit="submit()">
        <div class="form-group">
            <label class="control-label">Target Environment: </label>
            <select class="form-control" ng-model="env" ng-options="e.name as e.name for e in environments"
                    ng-change="updateAction()">
                <option value="">-- Select Environment --</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label">Target Bundle: </label>
            <select class="form-control" ng-model="targetBundle"
                    ng-options="bundle.value as bundle.name group by bundle.gen for bundle in targetBundles">
                <option value="">-- Select Target Bundle --</option>
            </select>
        </div>

        <div>
            <button class="btn btn-success" type="submit"> Go to CBA {{env}}</button>
		</div>
		<input type="hidden" name="bundleAndDeal"/>
		<input type="hidden" name="targetBundle"/>
	</form>
</div>
	<script type="text/javascript">
		var app = angular.module('cbaApp', []);
		app.config(function($sceProvider) {
			  // Completely disable SCE.  For demonstration purposes only!
			  // Do not use in new projects.
			  $sceProvider.enabled(false);
		});
		app.controller('CbaController', ['$scope', function($scope){

			$scope.environments = [
				{name:"Staging", url:"https://staging.onlineshop.telstra.com.au/bundles/change-bundle"},
				{name:"Production", url:"https://onlineshop.telstra.com.au/bundles/change-bundle"}
			];

			$scope.targetBundles = [
				{name: "Home Entertainer Bundle - S", value: "HOME_ENTERTAINER-S|XAE00000843", gen: "CHE"},
				{name: "Home Entertainer Bundle - M", value: "HOME_ENTERTAINER-M|XAE00000844", gen: "CHE"},
				{name: "Home Entertainer Bundle - L", value: "HOME_ENTERTAINER-L|XAE00000845", gen: "CHE"},
				{name: "WIN Super Bundle - S", value: "WIN_SUPER-S|XAE00000846", gen: "WIN"},
				{name: "WIN Super Bundle - M", value: "WIN_SUPER-M|XAE00000847", gen: "WIN"},
				{name: "WIN Super Bundle - L", value: "WIN_SUPER-L|XAE00000848", gen: "WIN"}
			];

			$scope.updateAction = function(){
				angular.forEach($scope.environments, function(environment, index){
					if(angular.equals($scope.env, environment.name)){
						$scope.url = environment.url;
					}
				});
			};


			$scope.submit = function(){
				document.getElementById('test_harness_form').submit();
			};
		}]);
	</script>
</body>